{% extends 'base.html' %}

{% block content %}
    <div class="container">
    <a href="/Contact" class="glyphicon glyphicon-chevron-left btn btn-success">Back</a>
    <!-- {% if user.id == contact.creator.id %} -->
    {% for Contact in Contact %}
    <h6>You want to delete this?</h6>
        <p>Last Name:{{Contact.LastName}}</p>
        <p>First Name:{{Contact.FirstName}}</p>
        <p>Contact Number:{{Contact.ContactNo}}</p>
        <p>Address:{{Contact.Address}}</p>
        <a href="{% url 'confirm_delete_contact' pk=Contact.pk %}"  class="btn btn-danger">Delete</a>
    {% endfor %}
    </div>
    <!-- {% else %} -->
        <!-- <h1>NOT FOUND!</h1> -->
    <!-- {% endif %} -->
{% endblock %}