{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Home{% endblock %}
{% block content %}
    <a href="/Contact" class="glyphicon glyphicon-chevron-left btn btn-success">Back</a>

    {% if messages %}
        {% for message in messages%}

        {% endfor %}
    {% else %}
    {{order}}
    <form method="post" enctype="multipart/form-data">
        <div class="form-group">
            <br>
            {% csrf_token %}
            <input class="form-control-file" type="file" name="file" required>
            <br>
            <button type="submit" class="btn btn-success">Upload</button>
        </div>
    </form>
    {% endif%}
{% endblock %}